

.center-row{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.height-100{
	height: 100%;
}

.ticket-form{
	display: inline-block;
	width: 100%;
	padding-top:50px; 
	padding-bottom: 50px;
	padding-left: 10px;
    padding-right: 10px;
}

.form-control{
	box-shadow: none !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 1px !important;
}

.form-group label{
	position: relative;
	top: -30px;
	left: 10px;
	float: left;
	transition: all 0.5s ease;
	color: #cecece;
	pointer-events: none;
	font-family: 'helvetica neue';
	font-weight: normal;
}

.form-label-text{
	padding-bottom: 5px;
}

input:focus~.form-label-text {
	top: -48px;
	color: black;
}

input[type='tel']:focus~.form-label-text {
	top: -52px !important;
	left: 10px !important;
}

.fix-top-label{
	top: -48px !important;
	color: black !important;
}

.ball-clip-rotate>div {
	border: 2px solid red !important;
	height: 16px !important;
	width: 16px !important;
	margin: 0px !important;
}

.loader{
	margin-left: 0px !important;
}

.register-btn{
	width: 150px;
}


.conditions{
	max-height: 200px;
	overflow: scroll;
	width: 100%;
}

.conditions .list-group-item{
	text-align: left;
}

.top-image{
	/* background-image: url('/images/header.jpeg');
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;  */
	background: url('/images/header.jpeg') no-repeat center center;
	position: fixed;
	background-size: cover;
  	width: 100%;
  	height: 300px; /*same height as jumbotron */
  	top:0;
  	left:0;
  	z-index: -1;
}

.header-img{
	width: 100%
}

.center-align{
	text-align: center;
}


input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
textarea {
  font-size: 16px;
}

.margin-top{
	margin-top: 5px;
}

.register-main .input-group-addon{
	position: relative;
    top: 26px;
    display: inline-block;
    left: -39px;
    background: none;
    border: none;
}

.tel-label{
	left: 44px !important;
	top: -52px !important;
}

.tel-label-top{
	left: 10px !important;
	top: -52px !important;
}

.tel-input{
	text-indent: 34px;
}




