.sponsor{
    padding: 50px;
}

.sponsor img{
    margin-left:  auto;
    margin-right: auto;
}

.sponsor-heading{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    font-weight: 600;
    color:black;
    font-family: 'Playfair Display', serif;
}

.sponsor-main{
    background-color: white;
}


.sponsor div{
    font-size: 25px;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
