.blog-image{
	padding-top: 20px;
	padding-bottom: 20px;
}

.thumbnail{
	border: none !important;
}

.facebook-blog-share{
	float: right;
}

.twitter-blog-share{
	float: right;
}

.whatsapp-blog-share{
	float: right;
}

.extend{
	height: 100%;
	width: 100%;
	background-color: black;
	display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.width-100{
	width: 100%;
}

.loader-view{
	background-color: black;
}

.loading-text{
	text-align: center;
	font-size: 24px;
  padding-top: 20px;
  color: white;
}

.loader{
	margin-left: -16px;
}

/* .thumbnail h3{
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */










.thumbnail .read-more-btn{
	border-radius: 4px;
	width: 160px;
	border-color: rgb(52,56,75);
	background-color: rgb(52,56,75);
	color: white;
}

.thumbnail .read-more-btn:hover{
	border-color: rgb(52,56,75);
	background-color: rgb(52,56,75);
	color: white;
}




.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
	will-change: transform;
}
.btn-arrow:hover span {
	transform: translate3d(-1rem, 0, 0);
	padding-right: 5px;
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

@media(max-width:460px){
	.register-button a{
		width: 160px;
	}
}

.thumbnail-image{
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}