.countdown-flex {
	text-align: center;
	font-size: 20px;
}

.countdown-flex-each {
	font-family: Audiowide;
}

.countdown-color{
	color: white;
}

.countdown-row {
	margin-bottom: 80px;
}

.countdown-text {
	text-align: center;
}